*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 10px;

}

.table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border:1px solid #aba4a4;
}
.tr{
    display: flex;
    /*border: 1px solid salmon;*/
    justify-content: space-evenly;

}

.td{
    width: 100%;
    border: 1px solid #aba4a4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}

